version: '3.8'

services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: nuxt-clean-arch-dev
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.nuxt
      - /app/.output
    environment:
      - NODE_ENV=development
      - NUXT_HOST=0.0.0.0
      - NUXT_PORT=3000
      - API_BASE=${API_BASE:-http://127.0.0.1:5051}
      - API_EXPORT_BASE=${API_EXPORT_BASE:-http://127.0.0.1:5050}
    networks:
      - nuxt-dev-network
    command: yarn dev
    stdin_open: true
    tty: true

networks:
  nuxt-dev-network:
    driver: bridge

volumes:
  node_modules: